.card {
    width: 350px;
}

.img {
    width: 500px;
    height: 500px;
}

body {
    background-color: #17202A;
}

.card {
    background-color: #ECF0F1;
}

h1 {
    color: #ECF0F1;
    padding-left: 10px;
    padding-top: 10px;
}